{% extends "account/base.html" %}
{% load static %}
{% block extrastyle %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
  <style>
    .shadow {
        box-shadow: 0 0 50px #b2bec3!important;
    }
  </style>
{% endblock extrastyle %}
{% block content %}
<div class="row">
    <div class="col-lg-9">
        {% if request.user.is_superuser %}
        <canvas id="myChart" width="100%" height="50px" class="mb-4 shadow p-3"></canvas>
        {% endif %}
        {% if request.user.exercises_not_payment %}
        <table class="table shadow">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in request.user.exercises_not_payment %}
                    <tr>
                        <th scope="row">{{obj.date}}</th>
                        <td>{{obj.category}}</td>
                        <td>{{obj.category.price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}
    </div>
    <div class="col-lg-3">
        <div class="card-body box-profile shadow border">
            <h3 class="profile-username text-center">{{request.user}}</h3>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Debt</b> <a class="float-right">{{request.user.debt}}</a>
              </li>
              <li class="list-group-item">
                <b>Exercises not payment</b> <a class="float-right">{{request.user.exercises_not_payment.count}}</a>
              </li>
            </ul>
            <a href="{% url 'payment:index' %}" class="btn btn-primary btn-block"><b>Payment Debt</b></a>
          </div>
    </div>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for category in category_list %}'{{category}}' , {% endfor %}],
            datasets: [{
                label: 'Exercise',
                data: [{% for category in category_list %}{{category.exercise_set.all.count}} , {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}